.transform{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    transform: rotate(20deg);
}
.transform-1 {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    transform: translate(50px, 100px);
}
.transform-2 {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    transform: rotate(-20deg);
}
.transform-3 {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    transition: width 2s;
}
.rotate{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    background-color: blueviolet;
    
}
.rotate-1 {
    transform: rotateX(150deg);
    border: 1px solid black;
    height: 100px;
    width: 100px;
}